# Archivos de entorno virtual
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# Archivos de Python compilados
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Archivos de configuración del editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Archivos de sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de datos sensibles o grandes (si no deben estar en el repo)
# datos_sensibles/
# *.csv
# *.xlsx
# (Descomenta y ajusta según sea necesario si tienes archivos de datos grandes o sensibles)
*.csv
*.xlsx
data/

# Archivos de logs
*.log

# Archivos de dependencias de Python (si usas pip freeze > requirements.txt)
# No es necesario ignorar requirements.txt, ya que debe estar en el repo

# Modelos de Machine Learning (si son muy grandes)
# modelos/*.h5
# modelos/*.pkl

# Carpetas de build/distribución
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos específicos de Streamlit (si es necesario)
.streamlit/secrets.toml
.streamlit/config.toml
